/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'vuejs-noty.css'
 *= require_tree .
 *= require_self
 */


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0eaee;
    margin: 0;
    font-family: Roboto, sans-serif;
    line-height: 1.5
}

button, input, optgroup, select, textarea {
    font: inherit;
}

.check-container {
    margin-top: 6px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    height: 20px;
    width: 20px;
}

.custom-checkbox:checked + label::before {
    border-color: #b8999f;
    background-color: #b8999f;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.h3 {
    font-family: 'Exo 2';
    font-size: 22px;
    margin-bottom: 12px !important;
}

#write-in-modal .h3 {
    color: #693d2c;
}

ul.no-mark {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fullwidth {
    width: 100% !important;
}