@import "common.scss";

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  padding: 8px 14px !important;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-indent: .0892857143em;
  text-transform: uppercase;
  font-weight: 500 !important;
}

.btn[readonly="readonly"], .btn[disabled="disabled"],
.v-btn[readonly="readonly"], .v-btn[disabled="disabled"] {
  background-color: lightgray !important;
  color: gray !important;
  cursor: not-allowed;
}

.btn-active {
  background-color: $active-btn;
}

.btn-success {
  color: $active-btn;

  &:hover, &:focus {
    background-color: $active-hover;
  }

}

.btn-cancel, .btn_reset {
  color: gray !important;

  &:hover, &:focus {
    background-color: #eeeeee !important;
  }
}

.disabled, label[disabled='disabled'] {
  color: #989898;
  transition: .6s cubic-bezier(.25, .8, .5, 1);
}

input[disabled='disabled'] {
  //background-color: #aaaaaa !important;
}

.vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
  background-color: #e8e8e8 !important;
}

#write-in-modal .vs__dropdown-toggle {
  height: 36px !important;
}

#write-in-modal .vs__selected-options, #write-in-modal .vs1__listbox,
#write-in-modal .vs__dropdown-option {
  font-size: 16px !important;
}

#write-in-modal .vs__selected-options {
  height: 34px;
}
