@import "common.scss";

.event_icon {
  margin-top: 7px
}

.event-row-month .event_icon {
  margin-top: 3px;
}

.event-row {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 38px;
  align-content: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;

  .event-list-item {
    display: grid;
    grid-template-columns: 50px 24px 1fr 1fr 90px;
  }

  .second_row {
    font-size: 14px;
    color: gray;
  }
}

.event-row-week, .event-row-month {
  background-color: white;
  font-size: 12px;
  align-content: center;

  .event-list-item {
    display: grid;
    grid-template-columns: 32px 1fr 12px;
    padding: 0 3px;
  }
  .second_row {
    font-size: 10px;
    color: gray;
  }
}

.event-row-week {
  margin: 4px 0;
  padding: 3px;
  border-radius: 4px;
}

.event-row-month {
  margin: 2px 0;
  padding: 0;
  border-radius: 0;
}

.color-column {
  margin-right: 14px;
}

span.duration {
  color: white;
  background-color: $head-color;
  text-align: center;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;

  &.active {
    background-color: $head-color-dark
  }
}