.sofa {
  background: asset-url("sofa.png") no-repeat 0 0;
  display: block;
  width: 32px;
  height: 32px;
  float: left;
}

.event-row-short .sofa{
  background: asset-url("sofa-12.png") no-repeat 0 0;
  width: 12px;
  height: 12px;

}

.online {
  background: asset-url("online.png") no-repeat 0 0;
  display: block;
  width: 32px;
  height: 32px;
  float: left;
}