.sofa {
  background: asset-url("sofa.png") no-repeat 0 0;
  display: block;
  width: 32px;
  height: 32px;
  float: left;
}

.event-row-week .sofa, .event-row-month .sofa, {
  background: asset-url("sofa-12.png") no-repeat 0 0;
  width: 12px;
  height: 12px;
}

.online {
  background: asset-url("online.png") no-repeat 0 0;
  display: block;
  width: 32px;
  height: 32px;
  float: left;
}

.icon_remove {
  font-weight: bolder;
  cursor: pointer;
  font-size: 28px;
  line-height: 1;
  color: #9c0505;
  background: asset-url("trash.png") no-repeat 0 0;
  height: 16px;
  width: 16px;
}

.icon-next {
  background: asset-url("next.svg") no-repeat 0 0;
  width: 30px;
  height: 20px;
  float: right;
}

.icon-prev {
  background: asset-url("prev.svg") no-repeat 0 0;
  width: 30px;
  height: 20px;
  float: left;
}
