// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common.scss";

#schedule-tabs {
  display: grid;
  column-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  height: 48px;
  align-content: center;
  margin-bottom: 20px;

  span {
    background-color: $head-color;
    color: white;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .875rem;
    letter-spacing: .1em;
    font-weight: 500;
    text-indent: 0.1em;
    text-align: center;
    display: inherit;
    align-items: center;
    height: inherit;
    cursor: pointer;
  }
}

.schedule_head {
  display: block;
  height: 52px;
}

.schedule_head .h2 {
  float: left;
  font-size: 2em;
  margin-bottom: 0.75em;
}

.schedule_head .add_task {
  float: right;
  cursor: pointer;
}

.vdatetime {
  float: left
}

.vdatetime input {
  border: 1px solid rgba(60, 60, 60, .26);
  padding: 4px 8px;
  border-radius: 3px;
}

.vdatetime.date input {
  width: 108px;
}

.vdatetime.time input {
  width: 36px;
}