.grid_middle_label_name {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-gap: 10px;
}

.grid_short_label_name {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 10px;
  align-items: center;
}

.date-times {
  display: grid;
  grid-template-columns: 126px 6px 54px 14px 54px;
  grid-gap: 10px;
  align-items: center;
}
