.grid_middle_label_name {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-gap: 10px;
}

.grid_short_label_name {
  display: grid;
  grid-template-columns: 124px 1fr;
  grid-gap: 10px;
  align-items: center;
}

.date-week {
  display: grid;
  grid-template-columns: 126px 1fr;
  grid-gap: 28px;
  align-items: center;
}

.times {
  display: grid;
  grid-template-columns: 56px 12px 56px 48px 48px;
  grid-gap: 10px;
  align-items: center;

}

.week-days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 4px;
}