@import "common.scss";

#write-in-modal {
  z-index: 7;
  align-items: center;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
}

#write-in-modal input[type="text"] {
  height: 36px;
  font-size: 18px;
}

#write-in-modal textarea {
  font-size: 18px;
}

#write-in-modal label{
  padding: 5px 0 0 0;
  font-size: 18px;
}


label {
  font-size: 14px;
}

.day-title {
  color: white !important;
  background-color: $active-btn !important;
}

.week-day {
  margin-bottom: 12px;
}

.write-in-modal-content {
  background: #fff;
  color: rgba(0, 0, 0, .87);
  border-radius: 5px;
  height: 80%;
  width: 80%;
  max-width: 900px;
  min-height: 640px;
  top: 0;
  transform: translateX(0%);
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}

.v-overlay {
  align-items: center;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: .3s cubic-bezier(.25, .8, .5, 1), z-index 1ms;
}

.v-overlay__scrim {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
  width: 100%;
  will-change: opacity;
}

.calendar-popup {
  box-sizing: border-box;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  //height: 80%;
  max-width: 888px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.18;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Анимации появления и исчезновения */
.slide-fade-enter-active {transition: all .4s ease; }
.slide-fade-leave-active {transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); }
.slide-fade-enter, .slide-fade-leave-to {transform: translateX(400px); opacity: 0; }

.write-in-header {
  background-color: #b8999f;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

.write-in-title {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: roboto, serif;
}

.calendar-popup .week-day {
  font-size: 18px;
  padding-bottom: 3px;
  text-align: center;
}

.calendar-popup .week-days-grid {
  align-items: center;
  grid-gap: 0;
}

.calendar-popup .month-day {
  height: 138px;
  margin: 1px;
}

.atime {
  color: #381119;
  margin: 0 18px;
  padding: 0 12px;
  background-color: #f0eaee;
  border: 1px solid #cfc0c5;
  border-radius: 3px;
  cursor: pointer;
  float: left;
  font-size: 22px;
}

.day {
  //width: 100%;
  margin-bottom: 2px;
  display: block;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  font-size: 20px;
  background-color: #cfc0c5;
  color: #381119;

  width: calc(100% + 2px);
  box-sizing: border-box;
  margin: -1px;
  &.nonactual {
    border: 1px solid #cfc0c0;
    color: #b9b9b9 !important;
    background-color: #f0eaee;
  }
}